// 
// Navbar
// 

#mainNav {
    height: $navbar-height;

    .navbar-brand {
        font-family: $alt-font-family;

        &:hover {
            color: $secondary
        }

        &:active {
            color: $primary;
        }
    }

    .navbar-toggler {
        font-size: $font-size-sm;
        padding: 0.75rem 1rem;
        color: $gray-900;
    }

    .nav-link {
        color: $gray-900;
        &:hover {
            color: $secondary;
        }
        &.active {
            color: $primary;
        }
    }
}
