// 
// Colors
// 


// primary
$white: white;
// $cream-too-dark: #F5F5DC;
$cream: #FAF3E0;

// secondary
$light-blue-modern: #61dafb;
// $light-blue-sophisticated: #87CEEB;
$light-blue-sophisticated: #000000;

// Override Bootstrap default state colors

$primary: $cream;
$secondary: $light-blue-sophisticated;