// 
// Colors
// 

// Override Bootstrap color systel colors

// $blue: #2937f0;
// $purple: #9f1ae2;

$white: white;
$light-blue: #61dafb;

// Override Bootstrap default state colors

$primary: $white;
$secondary: $light-blue;
